<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	      rel="stylesheet"
	      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	      crossorigin="anonymous">
</head>

<style>
    body{
        background-color: #e5e5e5;
    }
</style>

<body>
<th:block th:replace="common/navigation/navbar::navbar"></th:block>

<br /><br />
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">

			<div th:if="${param.error}">
				<div class="alert alert-danger">Invalid Email or Password</div>
			</div>
			<div th:if="${param.logout}">
				<div class="alert alert-success"> You have been logged out.</div>
			</div>

			<div class="card">
<!--				<h2 class="text-center mt-3"></h2>-->
				<div class="card-body">
				<div class="alert alert-primary d-flex justify-content-center" role="alert">

						We have sent OTP in your email.

				</div>
					<form action="/verify-otp" method="post">

						<div class="form-group mb-3">
							<!--							<label class="control-label > Email</label>-->
							<input
									type="text"
									class="form-control"
									placeholder="Enter your otp" required
							/>
						</div>
						<div class="form-group mb-3 d-flex justify-content-center">
							<button type="submit" class="btn btn-success mx-auto" >Verify Otp</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>